[Unit]
Description=ADXL355 Accelerometers Data Collector
After=multi-user.target

[Service]
Type=idle
WorkingDirectory=/opt/adxl355
ExecStart=/opt/adxl355/venv/bin/python3 /opt/adxl355/driver.py
Restart=always

[Install]
WantedBy=multi-user.target
